
<div class="container">

  <h1><%= @album.name %>
    <span class="badge badge-<%= ("secondary" if @album.public == false) || "success" %>">
      <span class="glyphicon <%= ("glyphicon-minus-sign" if @album.public == false) || "glyphicon-globe" %>"></span> <%= ("Privado" if @album.public == false ) || "Público" %>
    </span>
  </h1>

  <%= will_paginate(@photos, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center pagination-lg responsive',  :previous_label => "&#8249; Anterior", :next_label => "Siguente &#8250;") %>

  <div class="row">
      <% @photos.each do |photo| %>
      

        <div class="col-md-4">
          <div class="thumbnail">
            <%= link_to photo, data: { title: photo.name}  do %>
              <%= image_tag photo.image.thumb.url, alt: photo.name, :class=>"img-rounded img-responsive img-fluid" %>
              <div class="caption">
                <p><%= photo.name %></p>
              </div>
            <%end%>

            <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{photo_url(photo)}",  title: 'Compartir en Facebook', :class=>"btn btn-lg btn-social btn-facebook" do %>
              <span class="btn-facebook"></span> Compartir en Facebook
            <% end %>

            <%= link_to "https://twitter.com/share?url=#{photo_url(photo)}",  title: 'Compartir en Twitter', :class=>"btn btn-lg btn-social btn-twitter" do %>
              <span class="btn-facebook"></span> Compartir en Twitter
            <% end %>

            <%= link_to 'Edit', edit_photo_path(photo) %>
            <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>

      <% end %>
  </div>
      

  <br>


  <%= link_to 'New Photo', new_photo_path %>

  <%= link_to 'Edit', edit_album_path(@album) %> |
  <%= link_to 'Back', albums_path %>
</div>
