<%= form_for(photo) do |f| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :publico %>
    <%= f.check_box :public %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
    <% if photo.image? %>
      <%= image_tag photo.image.thumb.url %>
    <% end %>    
  </div>

  <div class="field">
    <%= f.label :album_id %>
    <%=
    f.select(:album_id, current_user.albums.collect{|a| ["#{a.name}", a.id]})
    %>
    
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
